.about {
  .section-title {
    padding-bottom: 4rem;
  }

  .content {
    h3 {
      font-weight: 600;
      font-size: 26px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding-left: 28px;
        position: relative;

        + li {
          margin-top: 10px;
        }
      }

      i {
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 20px;
        color: #e43c5c;
        line-height: 1;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }

    .btn-learn-more {
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 32px;
      border-radius: 50px;
      transition: 0.3s;
      line-height: 1;
      color: #e43c5c;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
      margin-top: 6px;
      border: 2px solid #e43c5c;

      &:hover {
        background: #e43c5c;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
