.contact {
  .info {
    width: 100%;
    background: #fff;

    i {
      font-size: 20px;
      color: #e43c5c;
      float: left;
      width: 44px;
      height: 44px;
      background: #fdeff2;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }

    h4 {
      padding: 0 0 0 60px;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
      color: #493c3e;
    }

    p {
      padding: 0 0 0 60px;
      margin-bottom: 0;
      font-size: 14px;
      color: #816a6e;
    }

    .email,
    .phone {
      margin-top: 40px;
    }

    .email:hover i,
    .address:hover i,
    .phone:hover i {
      background: #e43c5c;
      color: #fff;
    }
  }

  .php-email-form {
    width: 100%;
    background: #fff;

    .form-group {
      padding-bottom: 8px;
    }

    .error-message {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;

      br + br {
        margin-top: 25px;
      }
    }

    .sent-message {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }

    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;

      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
      }
    }

    input,
    textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
    }

    input:focus,
    textarea:focus {
      border-color: #e43c5c;
    }

    input {
      height: 44px;
    }

    textarea {
      padding: 10px 12px;
    }

    button[type="submit"] {
      background: #e43c5c;
      border: 0;
      padding: 10px 28px;
      color: #fff;
      transition: 0.4s;
      border-radius: 50px;

      &:hover {
        background: #d01d3f;
      }
    }
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
