.portfolio {
  #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 7px 17px 9px 17px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      color: #444444;
      margin: 0 3px 10px 3px;
      transition: all ease-in-out 0.3s;
      background: #ede9e9;
      border-radius: 50px;

      &:hover,
      &.filter-active {
        color: #fff;
        background: #e43c5c;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;

    img {
      position: relative;
      top: 0;
      transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .portfolio-info {
      opacity: 0;
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: -50px;
      z-index: 3;
      transition: all ease-in-out 0.3s;
      background: #e43c5c;
      padding: 15px 20px;

      h4 {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
      }

      p {
        color: #fff;
        font-size: 14px;
        margin-bottom: 0;
      }

      .preview-link,
      .details-link {
        position: absolute;
        right: 50px;
        font-size: 24px;
        top: calc(50% - 18px);
        color: white;
        transition: ease-in-out 0.3s;
      }

      .preview-link:hover {
        color: #f7c2cc;
      }

      .details-link {
        &:hover {
          color: #f7c2cc;
        }

        right: 15px;
      }
    }

    &:hover {
      img {
        top: -30px;
      }

      .portfolio-info {
        opacity: 1;
        bottom: 0;
      }
    }
  }
}
